<div class="parallax-card" [ngClass]="[type, textPosition]" #card>
  @switch (type) {
    <!-- 🖼️ Main photo card -->
    @case ('card') {
      <div class="image-overlay">
        <img [src]="image" [alt]="title" />
        <div class="text-overlay" #content>
          <h3>{{ title | translate }}</h3>
          @if (date) {
            <p class="date">{{ dateTimeService.formatDate(date) }}</p>
          }
          <p class="description">{{ description | translate }}</p>
        </div>
      </div>
    }
    <!-- 📘 Intro/Outro full screen text -->
    @default {
      <div class="text-only-content" #content>
        <h3>{{ title | translate }}</h3>
        <p class="description">{{ description | translate }}</p>
      </div>
    }
  }
</div>
