<div
  class="rte-wrapper"
  [class.error]="error"
  (focusout)="markTouched()"
>
  <div class="rte-toolbar">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <button
      *ngIf="emojiEnabled"
      type="button"
      class="emoji-btn"
      (click)="showEmoji = !showEmoji"
      [attr.aria-label]="'rich_text_editor.open_emoji' | translate"
    >
      😊
    </button>
  </div>

  <emoji-mart
    *ngIf="emojiEnabled && showEmoji"
    (emojiSelect)="insertEmoji($event)"
    title="Emoji"
    emoji="point_up"
    set="apple"
  ></emoji-mart>

  <ngx-editor
    class="editor-content"
    [editor]="editor"
    [placeholder]="placeholder"
    [formControl]="control"
  ></ngx-editor>
</div>
