@for (card of cards; track card; let i = $index) {
  <app-parallax-card
    [title]="card.title"
    [description]="card.description"
    [image]="card.image || ''"
    [type]="card.type || 'card'"
    [date]="card.date"
    [textPosition]="card.textPosition || 'left'"
    [comic]="card.comic || ''"
    [comicPositionX]="card.comicPositionX || 'right'"
    [comicPositionY]="card.comicPositionY || 'top'"
    (click)="openGallery(i)"
  ></app-parallax-card>
}
<app-ring-scroll></app-ring-scroll>

<app-gallery></app-gallery>

