<div class="carousel" #carousel>
  @for (slide of activeSlides; track slide) {
    <img
      [src]="slide.imageUrl"
      alt="Slide Image"
      class="slide"
      [ngStyle]="slide.style"
      [@fadeSlide]="slide.visible ? 'visible' : 'hidden'"
      />
      <div class="show-button-container">
        @if (overlayStatus !== 'expanded' && shouldShowMore) {
          <button
            class="show-btn more-btn"
            (click)="toggleExpandedState(true)"
            >
            {{ "carousel.show_more" | translate }}
          </button>
        }
        @if (overlayStatus !== 'hidden') {
          <button
            class="show-btn less-btn"
            (click)="toggleExpandedState(false)"
            >
            {{ "carousel.show_less" | translate }}
          </button>
        }
      </div>
      <div
        class="overlay"
        [@fadeSlide]="slide.visible ? 'visible' : 'hidden'"
      [ngClass]="{
        expanded: overlayStatus === 'expanded',
        hidden: overlayStatus === 'hidden'
      }"
        #overlayRef
        >
        <h3>{{ slide.title | translate }}</h3>
        <p>
          {{ slide.description | translate }}
        </p>
      </div>
    }

    <!-- Single gallery-buttons section, style with ngClass -->
    <div
      class="gallery-buttons"
      [ngClass]="{ mobile: isMobile$ | async, desktop: !(isMobile$ | async) }"
      [class.hidden]="overlayStatus === 'expanded'"
      [class.collapsed]="overlayStatus === 'hidden'"
      >
      <button class="prev-btn" (click)="prevSlide()">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="slide-counter">
        {{ currentSlideIndex + 1 }} / {{ totalSlides }}
      </div>
      <button class="next-btn" (click)="nextSlide()">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <!-- Desktop-only linear progress bar -->
    @if (!(isMobile$ | async)) {
      <div class="progress-bar-container">
        <div class="progress-bar" [style.width.%]="progress"></div>
      </div>
    }
    <!-- Mobile-only border progress -->
    @if (isMobile$ | async) {
      <div class="border-progress">
        <div
          class="side top"
          [style.width.%]="progress > 50 ? 100 : progress * 2"
        ></div>
        <div
          class="side right"
          [style.height.%]="progress > 50 ? (progress - 50) * 2 : 0"
        ></div>
        <div
          class="side bottom"
          [style.width.%]="progress > 50 ? (progress - 50) * 2 : 0"
        ></div>
        <div
          class="side left"
          [style.height.%]="progress > 50 ? 100 : progress * 2"
        ></div>
      </div>
    }
  </div>
