@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;

.miracle-section {
  width: 100%;
  background: rgb(var(--bg));
  display: flex;
  justify-content: center;
  padding: 5rem 1rem;
  position: relative;
  overflow: hidden;

  .miracle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .miracle-image-container {
    flex: 1;
    height: 500px;
    background-image: url('/images/church/miracle/miracle-02.jpg');
    background-size: cover;
    background-position: center center;
    will-change: transform;
    transition: transform 0.1s linear;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .miracle-text {
    flex: 1;
    color: rgb(var(--text));
    font-size: 1.2rem;
    line-height: 1.6;

    .miracle-title {
      color: rgb(var(--accent));
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
  }
}
