@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;
@use "../../styles/church-styles.scss" as church; // Use the forwarded styles

.miracle-section {
  width: 100%;
  height: 800px;
  background: rgb(var(--bg));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;

  .miracle-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(var(--accent));
    text-align: center;
    // margin-bottom: 2rem;
  }

  .miracle-content {
    width: 100%;
    position: relative;
    overflow: hidden;

    .miracle-image {
      width: 100%;
      object-fit: contain; // Ensure the image scales proportionally to fit within the container
      object-position: center; // Center the image within the container
      display: block;
    }

    .miracle-overlay-text {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      padding: 2rem;

      .overlay-background {
        background-color: rgba(var(--text-mask), 0.8);
        padding: 2rem;
        border-radius: 10px;
        color: rgb(var(--text));
        max-width: 400px;
        margin-left: 2rem;
        text-align: left;

        p {
          font-size: 1rem;
          line-height: 1.4;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 3rem 1rem;

    .miracle-title {
      font-size: 2rem;
    }

    .miracle-content {
      height: 50vh;

      .miracle-overlay-text {
        top: auto;
        bottom: 2rem;
        transform: none;

        .overlay-background {
          margin-left: 0;
          max-width: 90%;
          padding: 1.5rem;
        }
      }
    }
  }
}
