@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;
@use "../../styles/church-styles.scss" as church;

.miracle-section {
  width: 100%;
  background: rgb(var(--bg));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden; // Important to keep the background text inside

  .miracle-title-container {
    width: 100%;
    position: relative;
    padding: 0 1rem 2rem 1rem; // Some nice space
    text-align: center;

    .miracle-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: rgb(var(--accent));
      position: relative;
    }
  }

  .miracle-image-wrapper {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 2s ease-in-out; // Smooth transition between images
    position: relative;
    overflow: hidden;
  }

  .miracle-overlay-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;

    .overlay-background {
      background-color: rgba(var(--text-mask), 0.9);
      padding: 2rem;
      color: rgb(var(--text));
      max-width: 400px;
      margin-left: 2rem;
      text-align: left;

      height: 100%; // Make background fill the full height!
      display: flex; // Flexbox to center text inside
      flex-direction: column;

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .miracle-overlay-text {
      top: auto;
      bottom: 2rem;
      transform: none;
      padding: 1rem;

      .overlay-background {
        margin-left: 0;
        max-width: 90%;
        padding: 1.5rem;
      }
    }
  }
}
