<section class="miracle-section" id="miracle" #miracleSection>
  <div class="miracle-container">
    <app-parallax-image
      class="flex-grow"
      src="/images/church/miracle/miracle-02.jpg"
      [speedFactor]="0.1"
      [containerHeight]="500"
      [imageHeight]="650"
    ></app-parallax-image>

    <div class="miracle-text">
      <h2 class="miracle-title">{{ "church.miracle.title" | translate }}</h2>
      <p>{{ "church.miracle.description1" | translate }}</p>
      <p>{{ "church.miracle.description2" | translate }}</p>
      <p>{{ "church.miracle.description3" | translate }}</p>
    </div>
  </div>
</section>
