<section class="directions-church">
  <h2>
    {{ "guests.directions.church.title" | translate }}
  </h2>

  <div class="content frosted-box">
    <div class="text-content">
      <p class="intro">
        {{ "guests.directions.church.intro" | translate }}
      </p>

      <div class="parking-info">
        <h3>
          {{ "guests.directions.church.parking.title" | translate }}
        </h3>
        <p class="note">
          {{ "guests.directions.church.parking.note" | translate }}
        </p>

        <div class="parking-options">
          <div class="parking-option">
            <h4>
              {{
                "guests.directions.church.parking.options.saba.title"
                  | translate
              }}
            </h4>
            <p>
              {{
                "guests.directions.church.parking.options.saba.description.01"
                  | translate
              }}
              <br />
              {{
                "guests.directions.church.parking.options.saba.description.02"
                  | translate
              }}
            </p>
          </div>

          <div class="parking-option">
            <h4>
              {{
                "guests.directions.church.parking.options.ludovisi.title"
                  | translate
              }}
            </h4>
            <p>
              {{
                "guests.directions.church.parking.options.ludovisi.description.01"
                  | translate
              }}
              <br />
              {{
                "guests.directions.church.parking.options.ludovisi.description.02"
                  | translate
              }}
              <br />
              {{
                "guests.directions.church.parking.options.ludovisi.description.03"
                  | translate
              }}
            </p>
          </div>
        </div>

        <p class="recommendation">
          {{ "guests.directions.church.parking.recommendation" | translate }}
        </p>
      </div>
    </div>

    <div class="maps-container">
      <div class="map-container main">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.49877871229!2d12.48223903868894!3d41.90363528909676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6054af279da3%3A0x2f332b7973c8d022!2sBasilica%20Sant&#39;Andrea%20delle%20Fratte!5e0!3m2!1sen!2sus!4v1749539638301!5m2!1sen!2sus"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="parking-maps">
        <div class="map-container parking">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5938.462435354004!2d12.482451975561801!3d41.909387963455494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60ffb7a2e437%3A0x4a3ace1d46426c7e!2sParcheggio%20Saba%20Roma%20Piazza%20di%20Spagna!5e0!3m2!1sen!2sus!4v1749539907920!5m2!1sen!2sus"
            width="100%"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="map-container parking">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.3748511486515!2d12.483739975561651!3d41.906299863648876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61aaf2c49927%3A0xa0ab499a33a522e6!2sParking%20Ludovisi!5e0!3m2!1sen!2sit!4v1749798518058!5m2!1sen!2sit"
            width="400"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
