<section class="directions-reception">
  <h2>{{ "guests.directions.reception.title" | translate }}</h2>

  <div class="content">
    <div class="text-content">
      <p class="intro">{{ "guests.directions.reception.intro" | translate }}</p>

      <div class="venue-info">
        <h3>{{ "guests.directions.reception.venue.title" | translate }}</h3>
        <p class="note">
          {{ "guests.directions.reception.venue.note" | translate }}
        </p>

        <div class="venue-details">
          <div class="venue-detail">
            <h4>
              {{
                "guests.directions.reception.venue.details.transport.title"
                  | translate
              }}
            </h4>
            <p>
              {{
                "guests.directions.reception.venue.details.transport.description"
                  | translate
              }}
            </p>
          </div>

          <div class="venue-detail">
            <h4>
              {{
                "guests.directions.reception.venue.details.address.title"
                  | translate
              }}
            </h4>
            <p>
              {{
                "guests.directions.reception.venue.details.address.description"
                  | translate
              }}
            </p>
          </div>
        </div>

        <p class="recommendation">
          {{ "guests.directions.reception.venue.recommendation" | translate }}
        </p>
      </div>
    </div>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.397180448851!2d12.687489879315084!3d41.79212415929904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132586f3ae91e0d3%3A0xbd199e7e57941e69!2sPark%20Hotel%20Villa%20Ferrata!5e0!3m2!1sen!2sit!4v1750428667957!5m2!1sen!2sit"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
