<!-- Modal for the gallery -->
@if (isGalleryOpen) {
  <div class="gallery-modal">
    <div class="gallery-content">
      <button class="close-btn" (click)="closeGallery()">
        <i class="fas fa-times"></i>
      </button>
      <div class="gallery-image-wrapper">
        <div class="gallery-image">
          <img
            [src]="currentCard.image"
            [alt]="currentCard.title || 'Image description'"
            />
          </div>
          <div class="gallery-buttons">
            @if (currentCardIndex > 0) {
              <button class="prev-btn" (click)="prevCard()">
                <i class="fas fa-chevron-left"></i>
              </button>
            }
            @if (currentCardIndex < cards.length - 1) {
              <button
                class="next-btn"
                (click)="nextCard()"
                >
                <i class="fas fa-chevron-right"></i>
              </button>
            }
          </div>
        </div>
        <h3>{{ currentCard.title | translate }}</h3>
        @if (currentCard.date) {
          <p class="date">
            {{ dateTimeService.formatDate(currentCard.date) }}
          </p>
        }
        <p class="gallery-description">
          {{ currentCard.description || '' | translate }}
        </p>
        @if (currentCard.comic) {
          <div class="comic-wrapper" [ngClass]="[currentCard.comicPositionX, currentCard.comicPositionY]">
            <img [src]="currentCard.comic" class="comic" [alt]="currentCard.title || 'Comic'" />
          </div>
        }
      </div>
    </div>
  }
