<header
  class="navbar"
  [class.hidden]="isHeaderHidden"
  [class.filled]="isHeaderFilled"
>
  <a class="logo" routerLink="/">Simone & Chiara</a>

  <!-- Hamburger icon (visible only on small screens) -->
  <button class="menu-toggle" (click)="toggleMenu()">
    <i [class]="isMenuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
  </button>

  <!-- Navigation links -->
  <ul
    class="nav-links"
    [class.open]="isMenuOpen"
    [ngStyle]="isMobile ? { 'background-image': navBackground } : null"
    #navLinks
  >
    <li class="nav-item">
      <a routerLink="/" (click)="toggleMenu()">{{ "nav.home" | translate }}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/our-story" (click)="toggleMenu()">{{
        "nav.our_story" | translate
      }}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/church" (click)="toggleMenu()">{{
        "nav.church" | translate
      }}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/reception" (click)="toggleMenu()">{{
        "nav.reception" | translate
      }}</a>
    </li>

    <li class="settings-container">
      <!-- Language Selector -->
      <div
        class="custom-language-selector"
        #languageDropdown
        (click)="toggleLanguageDropdown()"
        [class.open]="languageDropdownOpen"
      >
        <i class="fa fa-solid fa-globe"></i>
        <ul
          *ngIf="languageDropdownOpen"
          class="language-options"
          (click)="$event.stopPropagation()"
        >
          <li (click)="selectLanguage('it')">Italiano</li>
          <li (click)="selectLanguage('en')">English</li>
        </ul>
      </div>

      <!-- Theme Switcher -->
      <div
        class="custom-theme-selector"
        #themeDropdown
        (click)="toggleThemeDropdown()"
        [class.open]="themeDropdownOpen"
      >
        <span>
          <i
            [ngClass]="{
              fa: true,
              'fa-sun': currentTheme === Theme.Light,
              'fa-moon': currentTheme === Theme.Dark,
              'fa-adjust': currentTheme === Theme.System
            }"
            aria-hidden="true"
          ></i>
        </span>

        <ul
          *ngIf="themeDropdownOpen"
          class="theme-options"
          (click)="$event.stopPropagation()"
        >
          <li (click)="selectTheme(Theme.Light)">
            <i class="fa fa-sun"></i>
            <span>{{ "nav.theme.light" | translate }}</span>
          </li>
          <li (click)="selectTheme(Theme.Dark)">
            <i class="fa fa-moon"></i>
            <span>{{ "nav.theme.dark" | translate }}</span>
          </li>
          <li (click)="selectTheme(Theme.System)">
            <i class="fa fa-adjust"></i>
            <span>{{ "nav.theme.system" | translate }}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
