@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;
@use "../../styles/church-styles.scss" as church; // Use the forwarded styles

.ratisbonne-section {
  background: rgb(var(--bg));
  display: flex;
  width: 100%;
  margin-bottom: 80px;

  .ratisbonne-container {
    display: flex;
    align-items: stretch; // ensures both columns stretch equally
    gap: 3rem;

    .image-container {
      flex: 1;
      max-width: 50%;
      height: 90vh;
      overflow: hidden;
      position: relative;
  
      .image {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        background-position: top center; // Focus on the top of the image
        background-repeat: no-repeat;
        box-shadow: 10px 10px 15px var(--box-shadow-heavy); // Bottom-right shadow
        transform: scale(0.7); // Start with a smaller size (tiny)
        transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
        will-change: transform;
      }
  
      &.left .angel-image {
        background-image: url("/images/church/ratisbonne/ratisbonne-01.jpg");
      }
  
      &.right .angel-image {
        background-image: url("/images/church/ratisbonne/ratisbonne-02.jpg");
      }
  
    }

    .ratisbonne-text {
      flex: 1;
      color: rgb(var(--text));
      padding-left: 10px;

      .ratisbonne-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: rgb(var(--accent));
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }
  }
}
