<section class="location-section">
  <div class="title-mobile">
    <h2>{{ "reception.location.title" | translate }}</h2>
  </div>

  <div class="slideshow-wrapper">
    <img
      *ngFor="let image of images; let i = index"
      [src]="image"
      [class.active]="i === currentImageIndex"
      class="slide"
    />
  </div>

  <div class="text-overlay">
    <div class="text-box">
      <h2>{{ 'reception.location.title' | translate }}</h2>
      <p #p1 class="paragraph p1">
        {{ "reception.location.description01" | translate }}
      </p>
      <p #p2 class="paragraph p2">
        {{ "reception.location.description02" | translate }}
      </p>
      <p #p3 class="paragraph p3">
        {{ "reception.location.description03" | translate }}
      </p>
    </div>
  </div>
</section>
