<!-- Hero Section with Image Background -->
<section class="church-hero" #heroSection>
  <app-parallax-image
    class="flex-grow"
    src="/images/church/intro/church-02.jpg"
    [speedFactor]="0.5"
    [containerHeight]="'100lvh'"
    [imageHeight]="'100lvh'"
  ></app-parallax-image>
  <div class="hero-overlay" #heroOverlay>
    <h1>{{ "church.intro.title1" | translate }}</h1>
    <h2>{{ "church.intro.title2" | translate }}</h2>
    <p class="subtitle">{{ "church.intro.subtitle" | translate }}</p>
    <p>{{ "church.intro.description" | translate }}</p>
  </div>
</section>
