@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;
@use "../../styles/church-styles.scss" as church; // Use the forwarded styles

section {
  margin-bottom: 80px;
}

// HERO SECTION
.church-hero {
  position: relative; // Required for pseudo-elements to position correctly
  width: 100%;
  height: 100lvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-image {
    width: 100%;

    // Add shadow effect at the bottom
    &::after {
      @include shadow-gradient(to top); // Shadow fades upward
      bottom: 0;
    }
  }

  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 2;
    text-align: center;
    padding: 1rem;
    background: rgba(var(--text-mask), 0.8);
    backdrop-filter: blur(8px);
    transition: opacity 0.2s ease-out;
    will-change: opacity, transform;

    h2 {
      font-size: 2rem;
    }

  }
}

@media (max-width: 768px) {
  .church-hero {
    .hero-image {
      background-position: center top;
    }

    .hero-overlay {
      width: 100%;
      font-size: 1rem;

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.3rem;
        padding: 0 0.7rem;
      }

      p {
        padding: 0 1rem;
        font-size: 1.2rem;

        &.subtitle {
          font-weight: bold;
        }
      }
    }
  }
}
