<div
  class="horizontal-scroll-bg"
  [ngStyle]="{ transform: 'translateY(' + translateYValue() + ')', 'z-index': zIndex().toString(), opacity: opacity() }"
>
  <div class="scroll-wrapper" #scrollWrapper>
    <div
      class="text-row up"
      [ngStyle]="{ transform: 'translateX(' + upTranslate + '%)' }"
    >
      {{ upText() | translate }}
    </div>
    <div
      class="text-row down"
      [ngStyle]="{ transform: 'translateX(' + downTranslate + '%)' }"
    >
      {{ downText() | translate }}
    </div>
  </div>
</div>
