@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.horizontal-scroll-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  .scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch; // full row width for control
    gap: 2rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 2rem; // optional padding on left/right
  }

  .text-row {
    display: inline-block; // ensures height is respected & text doesn't stack on same line
    position: relative;
    white-space: nowrap;
    font-size: var(--horizontal-moving-background-font-size);
    font-weight: bold;
    color: rgb(var(--accent));
    will-change: transform;
    transition: transform 0.2s linear;
    // border: 2px solid red;
  }

  .up {
    align-self: flex-start; // stick to left
  }

  .down {
    align-self: flex-end; // stick to right
  }
}
