.horizontal-scroll-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  overflow: hidden;

  .scroll-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }

  .text-row {
    align-self: center; // Horizontally center as baseline
    white-space: nowrap;
    font-size: var(--horizontal-moving-background-font-size);
    font-weight: bold;
    color: rgb(var(--accent));
    will-change: transform;
    transition: transform 0.2s linear;
    border: 1px solid red;
  }

}
