@use 'variables' as *; // Import variables for color and other styles

@mixin shadow-gradient($direction: to top, $height: 20%) {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: $height; // Adjust height to control the size of the shadow area
  z-index: 3;
  background: linear-gradient(
    $direction,
    rgba(var(--inner-shadow), 0.8),
    transparent
  ); // Simulates a shadow fading in the specified direction
  pointer-events: none;
}

// Mixin to set the viewport height
// This is useful for mobile devices where the address bar can change the viewport height
// Usage: @include vh(100); or @include vh(); for full viewport height
// Usage: @include vh(50); for half viewport height
@mixin vh($value: 100) {
  // height: #{$value}svh;
  height: #{$value}lvh;
  // height: calc(var(--vh, 1vh) * #{$value});
}
