// Light theme
:root {
  --font-family-base: "Comfortaa", "Segoe UI", sans-serif;
  --bg: 255, 255, 255; // Background color (RGB)
  --text: 51, 51, 51; // Text color (RGB)
  --text-mask: 255, 255, 255; // Text mask color
  --text-mask-dark: 51, 51, 51; // Text color (RGB)
  --mask: 0, 0, 0; // Text mask color
  --accent: 207, 154, 114; // Accent color (RGB)
  --hover: 184, 127, 94; // Hover color (RGB)
  --light-gray: 247, 247, 247; // Light gray for borders and backgrounds (RGB)
  --gradient-start: 211, 232, 236; // Start color for gradients (RGB)
  --gradient-end: 220, 210, 234; // End color for gradients (RGB)
  --inner-shadow: 255, 255, 255;
  --mask-transparent: transparent; // Transparent color for mask
  --box-shadow-heavy: rgba(0, 0, 0, 0.6);
  --box-shadow-medium: rgba(0, 0, 0, 0.2);
  --box-shadow-light: rgba(0, 0, 0, 0.05);
  --header-height: 60px; // Height of the header
  --footer-height: 50px; // Height of the footer
  --header-height-mobile: 60px; // Height of the header
  --vertical-moving-background-font-size: 10rem; // Font size for vertical moving background
  --horizontal-moving-background-font-size: 7rem; // Font size for horizontal moving background
  --backdrop-filter: blur(4px); // Blur effect for backdrop
  --progress-bar-size: 4px; // Size of the progress bar
  --progress-bar-mobile-size: 5px; // Size of the progress bar on mobile
  --carousel-gallery-buttons-background: rgba(0, 0, 0, 0.3); // Background for carousel gallery buttons
  --carousel-gallery-buttons-border-color: rgba(174, 174, 174, 0.15); // Border color for carousel gallery buttons
  --carousel-gallery-buttons-color: #f0f0f0; // Hover background for carousel gallery buttons
  --carousel-gallery-buttons-hover-color: rgba(0, 0, 0, 0.5); // Hover background for carousel gallery buttons
  --error-border: rgb(220, 53, 69);
  --error-text: rgb(220, 53, 69);
  --nav-background: url("/images/mobile-menu/bg-01.png");
}

// Dark theme
[data-theme="dark"] {
  --bg: 32, 34, 37; // Elegant dark gray background
  --text: 225, 225, 230; // Soft off-white for readability
  --accent: 227, 168, 109; // Accent color (unchanged)
  --hover: 209, 138, 79; // Hover color (unchanged)
  --light-gray: 54, 57, 63; // Lighter gray for borders and backgrounds
  --gradient-start: 44, 47, 51; // Deep blue-gray for gradient start
  --gradient-end: 58, 62, 68; // Slightly lighter blue-gray for gradient end
  --inner-shadow: 0, 0, 0; // Black for inner shadow
  --mask-transparent: transparent; // No change needed
  --box-shadow-heavy: rgba(0, 0, 0, 0.7); // Slightly heavier shadow
  --box-shadow-medium: rgba(0, 0, 0, 0.45); // Medium shadow
  --box-shadow-light: rgba(0, 0, 0, 0.22); // Lighter shadow for subtle effects
  --vertical-moving-background-font-size: 5rem; // Font size for vertical moving background
  --horizontal-moving-background-font-size: 3rem; // Font size for horizontal moving background
  --nav-background: url("/images/mobile-menu/bg-02.png");
}
