<div class="carousel" #carousel>
  @for (slide of activeSlides; track slide) {
    <div class="slide-container">
      <div
        class="slide"
        [class.visible]="slide.visible"
        [@fadeSlide]="slide.visible ? 'visible' : 'hidden'"
        >
        <ng-container *ngTemplateOutlet="slide.elementRef"></ng-container>
      </div>
    </div>
  }

  <!-- Single gallery-buttons section, style with ngClass -->
  <div class="gallery-buttons">
    <button class="prev-btn" (click)="prevSlide()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="next-btn" (click)="nextSlide()">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
</div>
