<section class="angels-section">
  <div class="angel-image-container left" #angelLeft>
    <div class="angel-image"></div>
  </div>
  <div class="angels-description-container" #descriptionContainer>
    <app-moving-background [content]="'church.angels.moving_background' | translate"></app-moving-background>
    <!-- <div class="title-background" #angelsTitleBackground>ANGELI</div> -->
    <div class="angels-description" #description>
      <h2>{{ 'church.angels.title' | translate }}</h2>
      <p>{{ 'church.angels.description' | translate }}</p>
    </div>
  </div>
  <div class="angel-image-container right" #angelRight>
    <div class="angel-image"></div>
  </div>
</section>
