@use "../../../../../styles/mixins.scss" as *;

section.carousel-wrapper {
  display: flex;
  flex-direction: column;
  // @include vh(50); // Full viewport height

  app-carousel {
    flex-grow: 1;
    min-height: 0;
  }
}
