<section class="angels-section">
  <div class="image-container left" #angelLeft>
    <div class="image"></div>
  </div>
  <div class="angels-description-container" #descriptionContainer>
    <app-moving-background
      [content]="'church.angels.moving_background' | translate"
      [maxOpacity]="0.3"
      [parallaxSpeedFactor]="0.05"
      [opacitySpeedFactor]="0.005"
      [maxScrollForFullOpacity]="300"
    >
    </app-moving-background>
    <!-- <div class="title-background" #angelsTitleBackground>ANGELI</div> -->
    <div class="angels-description" #description>
      <h2>{{ "church.angels.title" | translate }}</h2>
      <p>{{ "church.angels.description" | translate }}</p>
    </div>
  </div>
  <div class="image-container right" #angelRight>
    <div class="image"></div>
  </div>
</section>
