<section class="two-images-section">
  <div class="desktop" *ngIf="!isMobile">
    <div class="image-container left" #imageLeft>
      <div
        class="image"
        [style.backgroundImage]="'url(' + imageUrlLeft() + ')'"
      ></div>
    </div>

    <div class="description-container" #descriptionContainer>
      <app-moving-background
        [content]="movingBackgroundText() | translate"
        [maxOpacity]="0.3"
        [parallaxSpeedFactor]="0.05"
        [opacitySpeedFactor]="0.005"
        [maxScrollForFullOpacity]="300"
      >
      </app-moving-background>

      <div class="description" #description>
        <h2>{{ contentTitle() | translate }}</h2>

        <p *ngFor="let description of contentDescriptions()">
          {{ description | translate }}
        </p>
      </div>
    </div>

    <div class="image-container right" #imageRight>
      <div
        class="image"
        [style.backgroundImage]="'url(' + imageUrlRight() + ')'"
      ></div>
    </div>
  </div>

  <div class="mobile" *ngIf="isMobile">
    <h2>{{ contentTitle() | translate }}</h2>
    <app-carousel [slides]=slidesMobile></app-carousel>
  </div>
</section>
