@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *; // Import mixins for shadow gradients and other styles
@use "../../styles/church-styles.scss" as church; // Use the forwarded styles

.church-history {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 10px 10px 15px var(--box-shadow-medium); // Bottom-right shadow

  .image-container {
    overflow: hidden;
    width: 100%;
    height: 90vh;
    position: relative;
  
    .scroll-track {
      display: flex;
      width: max-content;
      height: 100%;
      animation: scroll-horizontal 40s linear infinite;
    }
  
    .image {
      flex: 0 0 auto;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
  
  .text-content {
    position: absolute; // Overlay the text on the image
    right: 0; // Attach the text to the right corner
    top: 0; // Start at the top of the image
    height: 100%; // Span the full height of the image
    width: 30%; // Take up 30% of the width
    padding-left: 1rem; // Add padding to the left
    padding-right: 1rem; // Add padding to the right
    background-color: rgba(var(--text-mask), 0.9); // Semi-transparent background for readability
    color: rgb(var(--text)); // Use the text color from variables
    z-index: 2; // Ensure the text is above the image
    justify-content: center; // Center the text vertically

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: rgb(var(--accent)); // Accent color for the title
    }

    p {
      font-size: 1.3rem;
      line-height: 1.8;
      color: rgb(var(--text)); // Text color for paragraphs
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .image-parallax {
      height: 40vh; // Adjust height for smaller screens
    }

    .text-content {
      position: relative; // Stack text below the image
      width: 100%; // Full width for smaller screens
      height: auto; // Adjust height for smaller screens
      top: auto;
      transform: none;
      padding: 1.5rem;
      background-color: rgba(0, 0, 0, 0.7); // Slightly darker background for readability
    }
  }
}

// Keyframes for horizontal scrolling
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
