@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

html,
body {
  height: 100%;
  overflow-y: auto;
}

section {
  margin-bottom: 40px;
}

h1 {
  color: rgb(var(--accent));
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
h2 {
  color: rgb(var(--accent));
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
  color: rgb(var(--text));
}
