@use "../../../styles/variables.scss" as *;

:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

// HERO SECTION
.church-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-image {
    background-image: url('/images/church/church-02.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .overlay {
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
    background: rgba(var(--mask-black), 0.5);
    backdrop-filter: blur(2px);
    h1 {
      color: rgb(var(--accent));
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      color: rgb(var(--text-mask));
    }
  }
}