<section
  class="home-page"
  appHeaderBgFillObserver
  [fillOnVisible]="false"
  [isEnabled]="!isMobile"
>
  <!-- Desktop Countdown (in hero image) -->
  <div class="hero-image">
    <div class="countdown" *ngIf="!isMobile">
      <ng-container *ngTemplateOutlet="countdownTemplate"></ng-container>
    </div>
  </div>

  <!-- Wedding content -->
  <div class="wedding-announcement">
    <div class="top-shape"></div>

    <div class="content">
      <h1>{{ "home.welcome" | translate }}</h1>
      <!-- Desktop: two lines -->
      <p *ngIf="!isMobile">{{ "home.description_line1" | translate }}</p>
      <p *ngIf="!isMobile">{{ "home.description_line2" | translate }}</p>

      <!-- Mobile: one paragraph -->
      <p class="mobile-description" *ngIf="isMobile">
        {{ "home.description_line1" | translate }}
        {{ "home.description_line2" | translate }}
      </p>
      <p class="names">{{ "home.names" | translate }}</p>
      <p class="wedding-date">{{ "home.date" | translate }}</p>

      <!-- Mobile Countdown -->
      <div class="countdown" *ngIf="isMobile">
        <ng-container *ngTemplateOutlet="countdownTemplate"></ng-container>
      </div>
    </div>

    <div class="bottom-shape"></div>
  </div>

  <!-- Shared template -->
  <ng-template #countdownTemplate>
    <div class="time-block">
      <span class="number">{{ countdown.days }}</span>
      <span class="label">{{ "home.days" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.hours }}</span>
      <span class="label">{{ "home.hours" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.minutes }}</span>
      <span class="label">{{ "home.minutes" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.seconds }}</span>
      <span class="label">{{ "home.seconds" | translate }}</span>
    </div>
  </ng-template>
</section>
