<section
  class="home-page"
  >

  <div class="hero-image">
    @if (!isMobile) {
      <div class="countdown">
        <ng-container *ngTemplateOutlet="countdownTemplate"></ng-container>
      </div>
    }
  </div>

  <!-- Wedding content -->
  <div class="wedding-announcement">
    <div class="top-shape"></div>

    <div class="content">
      <h1>{{ "home.welcome" | translate }}</h1>
      <!-- Desktop: two lines -->
      @if (!isMobile) {
        <p>{{ "home.description_line1" | translate }}</p>
      }

      <!-- Mobile: one paragraph -->
      @if (isMobile) {
        <p class="mobile-description">
          {{ "home.description_line1" | translate }}
        </p>
      }
      <p class="wedding-date">{{ "home.date" | translate }}</p>
      @if (!isMobile) {
        <ng-container *ngTemplateOutlet="funnyImageTemplate"></ng-container>
      }

      @if (isMobile) {
        <div class="countdown">
          <ng-container *ngTemplateOutlet="countdownTemplate"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="funnyImageTemplate"></ng-container>
        <div class="lets-start">
          <button class="btn" (click)="toggleMenu()">
            {{ "home.lets_start" | translate }}
          </button>
        </div>
      }
    </div>

    <div class="bottom-shape"></div>
  </div>

  <!-- Shared template -->
  <ng-template #countdownTemplate>
    <div class="time-block">
      <span class="number">{{ countdown.days }}</span>
      <span class="label">{{ "home.days" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.hours }}</span>
      <span class="label">{{ "home.hours" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.minutes }}</span>
      <span class="label">{{ "home.minutes" | translate }}</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.seconds }}</span>
      <span class="label">{{ "home.seconds" | translate }}</span>
    </div>
  </ng-template>

  <ng-template #funnyImageTemplate>
    <div class="funny-image">
      <img src="images/comics/comics-01.png" alt="Funny Image" />
    </div>
  </ng-template>

</section>
