<section class="hero-image">
  <div class="countdown">
    <div class="time-block">
      <span class="number">{{ countdown.days }}</span>
      <span class="label">Days</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.hours }}</span>
      <span class="label">Hours</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.minutes }}</span>
      <span class="label">Minutes</span>
    </div>
    <div class="time-block">
      <span class="number">{{ countdown.seconds }}</span>
      <span class="label">Seconds</span>
    </div>
  </div>
</section>


<section class="wedding-announcement">
  <div class="top-shape"></div>

  <div class="content">
    <h1>{{ 'home.welcome' | translate }}</h1>
    <p>{{ 'home.description_line1' | translate }}</p>
    <p>{{ 'home.description_line2' | translate }}</p>
    <p class="names">{{ 'home.names' | translate }}</p>
    <p class="wedding-date">{{ 'home.date' | translate }}</p>
  </div>

  <div class="bottom-shape"></div>
</section>
