<section class="medal-section">
  <app-horizontal-moving-background
    [upText]="'church.medal.title1'"
    [downText]="'church.medal.title2'"
    [upOffset]="'-40%'"
    [downOffset]="'80%'"
    [translateYValue]="isMobile ? '50lvh' : '50%'"
    [zIndex]="1"
    [speedFactor]="isMobile ? 0.4 : 0.8"
    [maxOpacity]="isMobile ? 0.5 : 0.4"
  />

  <h2 class="medal-subtitle">{{ "church.medal.subtitle" | translate }}</h2>

  <div class="medal-container">
    <div class="medal-description-left" #descriptionLeft>
      <p>{{ "church.medal.description1" | translate }}</p>
    </div>

    <div class="medal-image" #imageContainer>
      <img
        src="/images/church/medal/medal-04.png"
        alt="{{ 'church.medal.alt' | translate }}"
      />
    </div>

    <div class="medal-description-right" #descriptionRight>
      <p>{{ "church.medal.description2" | translate }}</p>
    </div>
  </div>
</section>
