<section class="minimi-section">
  <h2 class="minimi-title">{{ "church.minimi.title" | translate }}</h2>

  <div class="carousel">
    <ng-container *ngFor="let slide of activeSlides">
      <img [src]="slide.imageUrl"
           alt="Slide Image"
           class="slide"
           [@fadeSlide]="slide.visible ? 'visible' : 'hidden'" />
      <div class="overlay" [@fadeSlide]="slide.visible ? 'visible' : 'hidden'">
        <p>{{ slide.text }}</p>
      </div>
    </ng-container>
  </div>
</section>
