@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixins.scss" as *;
@use "../../styles/church-styles.scss" as church;

.minimi-section {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  height: 100vh;
  

  .minimi-title {
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 2.5rem;
  }

  app-carousel {
    flex: 1;
  }

}
