.parallax-image-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.parallax-image {
  width: 100%;
  object-fit: cover;
  will-change: transform;
  transition: transform 0.05s linear;
}
