<section class="reception-menu">
  <div class="menu-container">
    <h2 class="section-title">{{ 'reception.menu.title' | translate }}</h2>

    <div class="menu-grid">
      <div class="menu-item">
        <div class="image-container">
          <img src="images/reception/menu/menu-01.png" alt="Aperitivo di benvenuto" />
        </div>
        <div class="content">
          <h3>{{ 'reception.menu.welcome.title' | translate }}</h3>
          <p>{{ 'reception.menu.welcome.description' | translate }}</p>
        </div>
      </div>

      <div class="menu-item">
        <div class="image-container">
          <img src="images/reception/menu/menu-02.png" alt="Antipasto misto" />
        </div>
        <div class="content">
          <h3>{{ 'reception.menu.buffet.buffet.title' | translate }}</h3>
          <p>{{ 'reception.menu.buffet.buffet.description' | translate }}</p>
        </div>
      </div>

      <div class="menu-item">
        <div class="image-container">
          <img src="images/reception/menu/menu-03.png" alt="Cena al tavolo" />
        </div>
        <div class="content">
          <h3>{{ 'reception.menu.dinner.title' | translate }}</h3>
          <p>{{ 'reception.menu.dinner.description' | translate }}</p>
        </div>
      </div>

      <div class="menu-item">
        <div class="image-container">
          <img src="images/reception/menu/menu-04.png" alt="Buffet dolci" />
        </div>
        <div class="content">
          <h3>{{ 'reception.menu.dessert.title' | translate }}</h3>
          <p>{{ 'reception.menu.dessert.description01' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="dietary-note">
      <p>{{ 'reception.menu.dietary_note' | translate }}</p>
    </div>
  </div>
</section>
