@use "./styles/variables.scss" as *;
@use "./styles/splash.scss" as *;


/* Global box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
    font-family: var(--font-family-base);
  margin: 0;
  -webkit-tap-highlight-color: rgba(
    255,
    255,
    255,
    0
  ); // For WebKit-based browsers
  -ms-touch-action: manipulation; // For older versions of Internet Explorer
  touch-action: manipulation; // For modern browsers
  scroll-behavior: smooth;
  box-sizing: border-box;
}
