<div class="parallax-card" [ngClass]="type" #card>
  <ng-container [ngSwitch]="type">

    <!-- Main photo card -->
    <ng-container *ngSwitchCase="'card'">
      <div class="image-overlay">
        <img [src]="image" [alt]="title" />
        <div class="text-overlay" #content>
          <h3>{{ title }}</h3>
          <p class="date" *ngIf="date">{{ formatDate(date) }}</p>
          <p class="description">{{ description }}</p>
        </div>
      </div>
    </ng-container>

    <!-- Intro / Outro cards -->
    <ng-container *ngSwitchDefault>
      <div class="text-only-content" #content>
        <h3>{{ title }}</h3>
        <p class="description">{{ description }}</p>
      </div>
    </ng-container>

  </ng-container>
</div>
