<!-- Modal for the gallery -->
<div class="gallery-modal" *ngIf="isGalleryOpen">
  <div class="gallery-content">
    <button class="close-btn" (click)="closeGallery()">
      <i class="fas fa-times"></i>
    </button>
    <div class="gallery-image-wrapper">
      <div class="gallery-image">
        <img
          [src]="currentCard.image"
          [alt]="currentCard.title || 'Image description'"
        />
      </div>
      <div class="gallery-buttons">
        <button class="prev-btn" (click)="prevCard()" *ngIf="currentCardIndex > 0">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button
          class="next-btn"
          (click)="nextCard()"
          *ngIf="currentCardIndex < cards.length - 1"
        >
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <h3>{{ currentCard.title | translate }}</h3>
    <p class="date" *ngIf="currentCard.date">
      {{ dateTimeService.formatDate(currentCard.date) }}
    </p>
    <p class="gallery-description">
      {{ currentCard.description || '' | translate }}
    </p>
  </div>
</div>
